@inherits LayoutComponentBase
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    @if (ShowLoadingButton)
                    {
                        <SpinningLoadingButton></SpinningLoadingButton>
                    }
                    else
                    {
                        <a class="btn btn-outline-danger" @onclick="Logout">Logout</a>
                    }
                </Authorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider></Syncfusion.Blazor.Popups.SfDialogProvider>
@code{
    public bool ShowLoadingButton = false;
    async Task Logout()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}
